<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="分享接收测试">
        <activity android:name="io.github.liuanxin.scrollshot.ShareTestActivity" android:exported="true" android:label="分享接收测试">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
